@charset "UTF-8";
html {
    font-size: 100%;
  }
  body {
    color: #050505; 
    font-size: 0.9rem;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #050505; 
  }
  img {
    max-width: 100%;
  }
  li {
    list-style: none;
  }
.main_content{
    font-family: MS PMincho;
    white-space: nowrap;
    display: flex;
    width: 500px;
    margin-left: 250px;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    text-decoration: none;
    color: #050505;
}
.main_content ul{
  margin-left: 500px;
  text-decoration: none;
    width: 250px;
    margin-right: auto;
    text-align: left;
    word-spacing:0.7em;
}
.wrapper ul{
    white-space: nowrap;
    text-decoration: none;
    width: 200px;
    margin-left: 50px;
    margin-right: auto;
    text-align: center;
    word-spacing:0.5em;
    margin-bottom: 50px;
}
.wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 100px;
}
#Works {
margin-top: 100px;
margin-bottom: 100px; 
}
.sec-title{
  margin-bottom: 70px;
  text-align: center;
  /* margin-bottom: 40px  */
}
#works ul{
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 150px;
}
#news dl{
  white-space: nowrap;
  display: flex;           
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 500px;
  margin-left: 20%;
  margin-right: auto;
  text-align: center;
}
#news dt{
  display: flex; 
  width: 20%;            
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
#news dd{
  display: flex; 
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
/* #news {
  margin-bottom: 200px;
} */
#contact dl {
  display: flex;
  flex-wrap: wrap; 
  margin-bottom: 20px;
  text-align: center;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 72%;
  margin-bottom: 20px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
  margin-bottom: 30px;
}
#contact .button input:hover {
  background: #fff;
  color: #24292e;
  
}
#footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}
/*-------------------------------------------